h1.title {
    width: 50%;
    margin: 0%;
    background-color: black;
      color: white;
      text-align: center;
      font-family: 'Gill Sans';
    }
    .card {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 16px;
      max-width: 300px;
      margin: 20px auto;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;
    }
    .card img {
      width: 100%;
      border-radius: 8px;
    }
    .card .name {
      font-size: 1.5em;
      margin: 10px 0;
      color: #333;
    }
  .card .desc {
      font-size: 1em;
      color: #666;
      margin-bottom: 15px;
    }
    .card .price {
      font-size: 1.2em;
      color: rgb(0, 100, 0);
      margin-bottom: 5px;
    }
    .card .discounted-price {
      font-size: 1em;
      color: #999;
      margin-bottom: 15px;
    }
    .card .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: blue;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      text-align: center;
    }
    .card .btn:hover {
      background-color: blue;
    } 
 